/* HEADER */


/* UTILITY */

/* Button  */

.site-btn-primary {
    color: white;
    background-color: black;
    border-radius: 30px;
    font-size: 12px;
}
.btn-danger {
    border-radius: 30px;
}



/* Header Title */
.bg {
    background-color: black;
}

.bg img {
    width: 75px;
}

/* Header navigation */

.color ul li a {
    font-size: .9rem;
} 

.color .navbar-nav a.color-link {
    color: black;
}

.d-flex i, a {
    align-self: center;
}

.navbar-nav li i {
    font-size: 8px;
}


.color img {
    width: 20px;
}


.site-btn-primary:hover {
    color: white; 
}

/* MAIN SECTION */

/* Background hero main*/
 .bg-hero {
    background-image: url(../css/img/jumbo-bg.png);
    max-width: 100%;
    height: 620px;
    background-position-x:center;
    background-size: cover;
    color: white;
}

 .row img {
    width: 300px;
    margin-top: 255px;
} 
 