
/* UTILITY */


/* font-family */
header {
    font-family:Helvetica;
}
main {
    font-family: Arial;
    
}

/* Font-size */
h1 {
    font-size: 2rem;
}

/* Button  */
.site-btn-primary {
    color: white;
    background-color: black;
    border-radius: 30px;
    font-size: 12px;
}
.btn-danger, .btn-primary {
    border-radius: 30px;
}

/* HEADER */

/* Header Title */
.bg {
    background-color: black;
}

.bg img {
    width: 75px;
}

/* Header navigation */

.color ul li a {
    font-size: .9rem;
} 

.color .navbar-nav a.color-link {
    color: black;
}

.d-flex i, a {
    align-self: center;
}

.navbar-nav li i {
    font-size: 8px;
}


.color img {
    width: 20px;
}


.site-btn-primary:hover {
    color: white; 
}

/* MAIN SECTION */

/* Background hero main*/
 .bg-hero {
    background-image: url(../css/img/jumbo-bg.png);
    max-width: 100%;
    height: 620px;
    background-position-x:center;
    background-size: cover;
    color: white;
}
 .bg-hero .row img {
    width: 300px;
    margin-top: 255px;
} 

/* Section imgs */

 .block-1 {
    max-height: 160px;
}
 .block-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
} 
/* Section solo text */

.text-primary {
    font-size: .8rem;
}

/* sezione immagini */

/* .block-2 {
    height: 600px;
} */
.row .text {
    align-self: center;
}

.block-2 img {
    width: 100%;
    object-fit: contain;
}

/* .block-3 {
    height: 160px;
} */

.block-3 img {
    width: 100%;
    object-fit: contain;
    justify-content: center;
}
